body {
   margin: 0;
}

.page-conteiner {
   width: 100%;
   background-color: rgb(226, 226, 226);
}

.content-conteiner {
   max-width: 1020px;
   margin: 0 auto;
}

.menu-article {
   width: 100%;
   height: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu-article {
   font-size: 38px;
   margin: 0;
}

.button-conteiner {
   width: 50%;
   height: 40px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu-button {
   height: 30px;
   border: 2px solid rgb(223, 147, 6);
   border-radius: 5px;
   box-sizing: border-box;
   padding: 2px 12px;
   box-shadow: 1px 1px 2px black;
   font-size: 14px;
   color: rgb(223, 147, 6);
   transition: background-color 0.5s ease-out;
}

.menu-button:hover {
   background-color: rgb(223, 147, 6);
   color: white;
}

.menu-item-conteiner {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.menu-item {
   width: 45%;
   height: 120px;
   margin: 40px 20px 40px 0;
   display: flex;
   justify-content: space-between;
}

.menu-item-img {
   object-fit: cover;
   height: 120px;
   width: 40%;
   border: 2px solid rgb(223, 147, 6);
   border-radius: 15px;
}

.menu-item-text {
   width: 55%;
}

.menu-item-article {
   height: 30px;
   margin: 0;
   align-self: center;
   font-size: 20px;
   font-weight: bold;
   border-bottom: 1px solid rgb(223, 147, 6);
}

.price {
   margin-left: 20px;
   color: rgb(223, 147, 6);
}

.menu-item-description {
   height: 90px;
   margin-top: 10px;
   font-size: 16px;
}

.sort-button-conteiner {
   height: 100px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.sort-button {
   height: 45px;
   font-size: 32px;
}